# SAGE Connect API — public/anonymous
SAGE_ACCT_ID=
SAGE_CONNECT_LOGIN_ID=System
SAGE_CONNECT_AUTH_KEY=

# SAGE Connect API — admin/backend only
SAGE_CONNECT_ADMIN_LOGIN=
SAGE_CONNECT_ADMIN_KEY=

# GoHighLevel
GHL_LOCATION_ID=
GHL_PIT_TOKEN=
